<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册页</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/vector.js"></script>
    <script>  $(function(){  Victor("container", "output");	});</script>
</head>
<body>
<div id="container">
	<div id="output">
		<div class="containerT">
			<h1>学生管理系统-注册用户</h1>
            <form class="form" id="entry_form" action="/zc"  method="post">
                <!-- <input type="text" placeholder="绑定你的邮箱地址" name="emlia">           -->
				<input type="text" placeholder="创建用户名" id="entry_name" name="names">
                <input type="password" placeholder="设置密码" id="entry_password" name="passwords">
				<button  type="submit" id="entry_btn">注册</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>